/* body{
  background-color:red;
} */
@import url(https://fonts.googleapis.com/css?family=Lato);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
}

/*--------------------

		HEADER

--------------------*/

header {
	padding: 20px 0;
}

header h1 {
	text-align: center;
}

/*--------------------

		MAIN

--------------------*/

main p {
	text-align: center;
}

main .col-md-5 {
	padding: 30px 0;
}

main #sum-0, main #total-1 {
	margin: 80px;
	font-size: 86px;
}

main #current-0, main #current-1 {
	margin: 0 auto;
	height: 70px;
	width: 80px;
	background-color: red;
	color: #fff;
}

/*--------------------

		DICE

--------------------*/

.dice {
	width: 100px;
	height: 100px;
	border: 2px solid black;
	margin: 50px auto;
	border-radius: 25px;
	box-shadow: 5px 5px red;

}

.dice p {
	font-size: 46px;
	text-align: center;
	padding-top: 17px;
}

/*--------------------

	  JAVASCRIPT

--------------------*/

.active {
	background-color: #e8e8e8;
}

.font-red {
	color: red;
}
