


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Noto Serif', serif;
	background-image: url(../image/beach.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}


header {
	padding: 20px 0;
}

header h1 {
	text-align: center;
}



main p {
	text-align: center;
}

main .col-md-5 {
	padding: 30px 0;
}

main #sum-0, main #total-1 {

}

main #current-0, main #current-1 {
	margin: 0 auto;
	height: 70px;
	width: 80px;
	background-color: gray;
	color: white;
}


}
.dice {
	width: 100px;
	height: 100px;
	border: 2px solid black;
	margin: 50px auto;
	border-radius: 25px;
	box-shadow: 5px 5px red;

}

.dice p {
	font-size: 46px;
	text-align: center;
	padding-top: 17px;
}




}

.font-red {
	color: red;
}
